<component name="ArtifactManager">
  <artifact type="war" name="Spring-JDBC-Template-Application-NoBoot:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springjdbctemplate-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring-JDBC-Template-Application-NoBoot:war exploded" />
    </root>
  </artifact>
</component>