<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<h2 th:text="#{app.title}">App Title</h2>
<h3>Users:</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Name</td>
    </tr>
    </tbody>
</table>
<br/>
<h3>Orders:</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Customer Name</th>
        <th>Customer Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">Id</td>
        <td th:text="${order.customerName}">Customer Name</td>
        <td th:text="${order.customerEmail}">Customer Email</td>
    </tr>
    </tbody>
</table>
</body>
</html>